<header class="main-header" (contextmenu)="__elementSelectionService.select('1065862357',$event)" [ngStyle]="__elementSelectionService.getStyles('1065862357')"(click)='__elementSelectionService.clear()'>

    
    <a href="index2.html" class="logo" (contextmenu)="__elementSelectionService.select('761938652',$event)" [ngStyle]="__elementSelectionService.getStyles('761938652')">
        
        <span class="logo-mini" (contextmenu)="__elementSelectionService.select('1196663667',$event)" [ngStyle]="__elementSelectionService.getStyles('1196663667')"><b (contextmenu)="__elementSelectionService.select('464794315',$event)" [ngStyle]="__elementSelectionService.getStyles('464794315')">A</b>LT</span>
        
        <span class="logo-lg" (contextmenu)="__elementSelectionService.select('1750405527',$event)" [ngStyle]="__elementSelectionService.getStyles('1750405527')"><b (contextmenu)="__elementSelectionService.select('399950563',$event)" [ngStyle]="__elementSelectionService.getStyles('399950563')">Admin</b>LTE</span>
    </a>

    
    <nav class="navbar navbar-static-top" (contextmenu)="__elementSelectionService.select('1304732497',$event)" [ngStyle]="__elementSelectionService.getStyles('1304732497')">
        
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" (contextmenu)="__elementSelectionService.select('2002580040',$event)" [ngStyle]="__elementSelectionService.getStyles('2002580040')">
            <span class="sr-only" (contextmenu)="__elementSelectionService.select('927304861',$event)" [ngStyle]="__elementSelectionService.getStyles('927304861')">Toggle navigation</span>
        </a>
        
        <div class="navbar-custom-menu" (contextmenu)="__elementSelectionService.select('379945292',$event)" [ngStyle]="__elementSelectionService.getStyles('379945292')">
            <ul class="nav navbar-nav" (contextmenu)="__elementSelectionService.select('2123589346',$event)" [ngStyle]="__elementSelectionService.getStyles('2123589346')">
                
                <li class="dropdown messages-menu" (contextmenu)="__elementSelectionService.select('1858934218',$event)" [ngStyle]="__elementSelectionService.getStyles('1858934218')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" (contextmenu)="__elementSelectionService.select('1970753002',$event)" [ngStyle]="__elementSelectionService.getStyles('1970753002')">
                        <i class="fa fa-envelope-o" (contextmenu)="__elementSelectionService.select('1331826153',$event)" [ngStyle]="__elementSelectionService.getStyles('1331826153')"></i>
                        <span class="label label-success" (contextmenu)="__elementSelectionService.select('706987665',$event)" [ngStyle]="__elementSelectionService.getStyles('706987665')">4</span>
                    </a>
                    <ul class="dropdown-menu" (contextmenu)="__elementSelectionService.select('751232346',$event)" [ngStyle]="__elementSelectionService.getStyles('751232346')">
                        <li class="header" (contextmenu)="__elementSelectionService.select('1662121269',$event)" [ngStyle]="__elementSelectionService.getStyles('1662121269')">You have 4 messages</li>
                        <li (contextmenu)="__elementSelectionService.select('1019458043',$event)" [ngStyle]="__elementSelectionService.getStyles('1019458043')">
                            
                            <ul class="menu" (contextmenu)="__elementSelectionService.select('148963260',$event)" [ngStyle]="__elementSelectionService.getStyles('148963260')">
                                <li (contextmenu)="__elementSelectionService.select('328677327',$event)" [ngStyle]="__elementSelectionService.getStyles('328677327')">
                                    
                                    <a href="#" (contextmenu)="__elementSelectionService.select('2143539413',$event)" [ngStyle]="__elementSelectionService.getStyles('2143539413')">
                                        <div class="pull-left" (contextmenu)="__elementSelectionService.select('1580133055',$event)" [ngStyle]="__elementSelectionService.getStyles('1580133055')">
                                            <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1371333593',$event)" [ngStyle]="__elementSelectionService.getStyles('1371333593')">
                                        </div>
                                        <h4 (contextmenu)="__elementSelectionService.select('2067767150',$event)" [ngStyle]="__elementSelectionService.getStyles('2067767150')">
                                            Support Team
                                            <small (contextmenu)="__elementSelectionService.select('446410148',$event)" [ngStyle]="__elementSelectionService.getStyles('446410148')"><i class="fa fa-clock-o" (contextmenu)="__elementSelectionService.select('868865882',$event)" [ngStyle]="__elementSelectionService.getStyles('868865882')"></i> 5 mins</small>
                                        </h4>
                                        <p (contextmenu)="__elementSelectionService.select('89999569',$event)" [ngStyle]="__elementSelectionService.getStyles('89999569')">Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                
                                <li (contextmenu)="__elementSelectionService.select('35550203',$event)" [ngStyle]="__elementSelectionService.getStyles('35550203')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1169098897',$event)" [ngStyle]="__elementSelectionService.getStyles('1169098897')">
                                        <div class="pull-left" (contextmenu)="__elementSelectionService.select('941716601',$event)" [ngStyle]="__elementSelectionService.getStyles('941716601')">
                                            <img src="/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1465235564',$event)" [ngStyle]="__elementSelectionService.getStyles('1465235564')">
                                        </div>
                                        <h4 (contextmenu)="__elementSelectionService.select('639994070',$event)" [ngStyle]="__elementSelectionService.getStyles('639994070')">
                                            AdminLTE Design Team
                                            <small (contextmenu)="__elementSelectionService.select('468969219',$event)" [ngStyle]="__elementSelectionService.getStyles('468969219')"><i class="fa fa-clock-o" (contextmenu)="__elementSelectionService.select('683858616',$event)" [ngStyle]="__elementSelectionService.getStyles('683858616')"></i> 2 hours</small>
                                        </h4>
                                        <p (contextmenu)="__elementSelectionService.select('1378779412',$event)" [ngStyle]="__elementSelectionService.getStyles('1378779412')">Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('1481097407',$event)" [ngStyle]="__elementSelectionService.getStyles('1481097407')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1544089419',$event)" [ngStyle]="__elementSelectionService.getStyles('1544089419')">
                                        <div class="pull-left" (contextmenu)="__elementSelectionService.select('1654778216',$event)" [ngStyle]="__elementSelectionService.getStyles('1654778216')">
                                            <img src="/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1143075337',$event)" [ngStyle]="__elementSelectionService.getStyles('1143075337')">
                                        </div>
                                        <h4 (contextmenu)="__elementSelectionService.select('579174410',$event)" [ngStyle]="__elementSelectionService.getStyles('579174410')">
                                            Developers
                                            <small (contextmenu)="__elementSelectionService.select('971788710',$event)" [ngStyle]="__elementSelectionService.getStyles('971788710')"><i class="fa fa-clock-o" (contextmenu)="__elementSelectionService.select('1424688474',$event)" [ngStyle]="__elementSelectionService.getStyles('1424688474')"></i> Today</small>
                                        </h4>
                                        <p (contextmenu)="__elementSelectionService.select('521208948',$event)" [ngStyle]="__elementSelectionService.getStyles('521208948')">Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('286937676',$event)" [ngStyle]="__elementSelectionService.getStyles('286937676')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1252016296',$event)" [ngStyle]="__elementSelectionService.getStyles('1252016296')">
                                        <div class="pull-left" (contextmenu)="__elementSelectionService.select('1181572467',$event)" [ngStyle]="__elementSelectionService.getStyles('1181572467')">
                                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1372111726',$event)" [ngStyle]="__elementSelectionService.getStyles('1372111726')">
                                        </div>
                                        <h4 (contextmenu)="__elementSelectionService.select('302211881',$event)" [ngStyle]="__elementSelectionService.getStyles('302211881')">
                                            Sales Department
                                            <small (contextmenu)="__elementSelectionService.select('1525601473',$event)" [ngStyle]="__elementSelectionService.getStyles('1525601473')"><i class="fa fa-clock-o" (contextmenu)="__elementSelectionService.select('1984203818',$event)" [ngStyle]="__elementSelectionService.getStyles('1984203818')"></i> Yesterday</small>
                                        </h4>
                                        <p (contextmenu)="__elementSelectionService.select('1627451967',$event)" [ngStyle]="__elementSelectionService.getStyles('1627451967')">Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('1754517277',$event)" [ngStyle]="__elementSelectionService.getStyles('1754517277')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1148667410',$event)" [ngStyle]="__elementSelectionService.getStyles('1148667410')">
                                        <div class="pull-left" (contextmenu)="__elementSelectionService.select('377534314',$event)" [ngStyle]="__elementSelectionService.getStyles('377534314')">
                                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1886862991',$event)" [ngStyle]="__elementSelectionService.getStyles('1886862991')">
                                        </div>
                                        <h4 (contextmenu)="__elementSelectionService.select('116059323',$event)" [ngStyle]="__elementSelectionService.getStyles('116059323')">
                                            Reviewers
                                            <small (contextmenu)="__elementSelectionService.select('2018733474',$event)" [ngStyle]="__elementSelectionService.getStyles('2018733474')"><i class="fa fa-clock-o" (contextmenu)="__elementSelectionService.select('1811660325',$event)" [ngStyle]="__elementSelectionService.getStyles('1811660325')"></i> 2 days</small>
                                        </h4>
                                        <p (contextmenu)="__elementSelectionService.select('573662867',$event)" [ngStyle]="__elementSelectionService.getStyles('573662867')">Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer" (contextmenu)="__elementSelectionService.select('1936705882',$event)" [ngStyle]="__elementSelectionService.getStyles('1936705882')"><a href="#" (contextmenu)="__elementSelectionService.select('280134888',$event)" [ngStyle]="__elementSelectionService.getStyles('280134888')">See All Messages</a></li>
                    </ul>
                </li>
                
                <li class="dropdown notifications-menu" (contextmenu)="__elementSelectionService.select('646842957',$event)" [ngStyle]="__elementSelectionService.getStyles('646842957')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" (contextmenu)="__elementSelectionService.select('262333937',$event)" [ngStyle]="__elementSelectionService.getStyles('262333937')">
                        <i class="fa fa-bell-o" (contextmenu)="__elementSelectionService.select('42649670',$event)" [ngStyle]="__elementSelectionService.getStyles('42649670')"></i>
                        <span class="label label-warning" (contextmenu)="__elementSelectionService.select('102467899',$event)" [ngStyle]="__elementSelectionService.getStyles('102467899')">10</span>
                    </a>
                    <ul class="dropdown-menu" (contextmenu)="__elementSelectionService.select('1343301591',$event)" [ngStyle]="__elementSelectionService.getStyles('1343301591')">
                        <li class="header" (contextmenu)="__elementSelectionService.select('1208274249',$event)" [ngStyle]="__elementSelectionService.getStyles('1208274249')">You have 10 notifications</li>
                        <li (contextmenu)="__elementSelectionService.select('471393527',$event)" [ngStyle]="__elementSelectionService.getStyles('471393527')">
                            
                            <ul class="menu" (contextmenu)="__elementSelectionService.select('1175512094',$event)" [ngStyle]="__elementSelectionService.getStyles('1175512094')">
                                <li (contextmenu)="__elementSelectionService.select('535190676',$event)" [ngStyle]="__elementSelectionService.getStyles('535190676')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1902552228',$event)" [ngStyle]="__elementSelectionService.getStyles('1902552228')">
                                        <i class="fa fa-users text-aqua" (contextmenu)="__elementSelectionService.select('713214243',$event)" [ngStyle]="__elementSelectionService.getStyles('713214243')"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('1802762361',$event)" [ngStyle]="__elementSelectionService.getStyles('1802762361')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1188825983',$event)" [ngStyle]="__elementSelectionService.getStyles('1188825983')">
                                        <i class="fa fa-warning text-yellow" (contextmenu)="__elementSelectionService.select('47961220',$event)" [ngStyle]="__elementSelectionService.getStyles('47961220')"></i> Very long description here that may not fit into the page and may cause design problems
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('1051516461',$event)" [ngStyle]="__elementSelectionService.getStyles('1051516461')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1256741297',$event)" [ngStyle]="__elementSelectionService.getStyles('1256741297')">
                                        <i class="fa fa-users text-red" (contextmenu)="__elementSelectionService.select('1816736864',$event)" [ngStyle]="__elementSelectionService.getStyles('1816736864')"></i> 5 new members joined
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('812294809',$event)" [ngStyle]="__elementSelectionService.getStyles('812294809')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1752129295',$event)" [ngStyle]="__elementSelectionService.getStyles('1752129295')">
                                        <i class="fa fa-shopping-cart text-green" (contextmenu)="__elementSelectionService.select('1623373410',$event)" [ngStyle]="__elementSelectionService.getStyles('1623373410')"></i> 25 sales made
                                    </a>
                                </li>
                                <li (contextmenu)="__elementSelectionService.select('1166894126',$event)" [ngStyle]="__elementSelectionService.getStyles('1166894126')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('538339436',$event)" [ngStyle]="__elementSelectionService.getStyles('538339436')">
                                        <i class="fa fa-user text-red" (contextmenu)="__elementSelectionService.select('840162374',$event)" [ngStyle]="__elementSelectionService.getStyles('840162374')"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer" (contextmenu)="__elementSelectionService.select('1192697280',$event)" [ngStyle]="__elementSelectionService.getStyles('1192697280')"><a href="#" (contextmenu)="__elementSelectionService.select('1763032344',$event)" [ngStyle]="__elementSelectionService.getStyles('1763032344')">View all</a></li>
                    </ul>
                </li>
                
                <li class="dropdown tasks-menu" (contextmenu)="__elementSelectionService.select('2060709214',$event)" [ngStyle]="__elementSelectionService.getStyles('2060709214')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" (contextmenu)="__elementSelectionService.select('1443819438',$event)" [ngStyle]="__elementSelectionService.getStyles('1443819438')">
                        <i class="fa fa-flag-o" (contextmenu)="__elementSelectionService.select('696783282',$event)" [ngStyle]="__elementSelectionService.getStyles('696783282')"></i>
                        <span class="label label-danger" (contextmenu)="__elementSelectionService.select('1840350438',$event)" [ngStyle]="__elementSelectionService.getStyles('1840350438')">9</span>
                    </a>
                    <ul class="dropdown-menu" (contextmenu)="__elementSelectionService.select('141372691',$event)" [ngStyle]="__elementSelectionService.getStyles('141372691')">
                        <li class="header" (contextmenu)="__elementSelectionService.select('700432431',$event)" [ngStyle]="__elementSelectionService.getStyles('700432431')">You have 9 tasks</li>
                        <li (contextmenu)="__elementSelectionService.select('1079202091',$event)" [ngStyle]="__elementSelectionService.getStyles('1079202091')">
                            
                            <ul class="menu" (contextmenu)="__elementSelectionService.select('556039027',$event)" [ngStyle]="__elementSelectionService.getStyles('556039027')">
                                <li (contextmenu)="__elementSelectionService.select('1077993457',$event)" [ngStyle]="__elementSelectionService.getStyles('1077993457')">
                                    
                                    <a href="#" (contextmenu)="__elementSelectionService.select('397001070',$event)" [ngStyle]="__elementSelectionService.getStyles('397001070')">
                                        <h3 (contextmenu)="__elementSelectionService.select('1302921401',$event)" [ngStyle]="__elementSelectionService.getStyles('1302921401')">
                                            Design some buttons
                                            <small class="pull-right" (contextmenu)="__elementSelectionService.select('1339299228',$event)" [ngStyle]="__elementSelectionService.getStyles('1339299228')">20%</small>
                                        </h3>
                                        <div class="progress xs" (contextmenu)="__elementSelectionService.select('162391232',$event)" [ngStyle]="__elementSelectionService.getStyles('162391232')">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" (contextmenu)="__elementSelectionService.select('1356265002',$event)" [ngStyle]="__elementSelectionService.getStyles('1356265002')">
                                                <span class="sr-only" (contextmenu)="__elementSelectionService.select('1434421313',$event)" [ngStyle]="__elementSelectionService.getStyles('1434421313')">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                
                                <li (contextmenu)="__elementSelectionService.select('979902343',$event)" [ngStyle]="__elementSelectionService.getStyles('979902343')">
                                    
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1552246766',$event)" [ngStyle]="__elementSelectionService.getStyles('1552246766')">
                                        <h3 (contextmenu)="__elementSelectionService.select('998620658',$event)" [ngStyle]="__elementSelectionService.getStyles('998620658')">
                                            Create a nice theme
                                            <small class="pull-right" (contextmenu)="__elementSelectionService.select('311498563',$event)" [ngStyle]="__elementSelectionService.getStyles('311498563')">40%</small>
                                        </h3>
                                        <div class="progress xs" (contextmenu)="__elementSelectionService.select('1761588913',$event)" [ngStyle]="__elementSelectionService.getStyles('1761588913')">
                                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" (contextmenu)="__elementSelectionService.select('531764823',$event)" [ngStyle]="__elementSelectionService.getStyles('531764823')">
                                                <span class="sr-only" (contextmenu)="__elementSelectionService.select('156123774',$event)" [ngStyle]="__elementSelectionService.getStyles('156123774')">40% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                
                                <li (contextmenu)="__elementSelectionService.select('327116571',$event)" [ngStyle]="__elementSelectionService.getStyles('327116571')">
                                    
                                    <a href="#" (contextmenu)="__elementSelectionService.select('111153659',$event)" [ngStyle]="__elementSelectionService.getStyles('111153659')">
                                        <h3 (contextmenu)="__elementSelectionService.select('162508758',$event)" [ngStyle]="__elementSelectionService.getStyles('162508758')">
                                            Some task I need to do
                                            <small class="pull-right" (contextmenu)="__elementSelectionService.select('1921601839',$event)" [ngStyle]="__elementSelectionService.getStyles('1921601839')">60%</small>
                                        </h3>
                                        <div class="progress xs" (contextmenu)="__elementSelectionService.select('438745050',$event)" [ngStyle]="__elementSelectionService.getStyles('438745050')">
                                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" (contextmenu)="__elementSelectionService.select('479154860',$event)" [ngStyle]="__elementSelectionService.getStyles('479154860')">
                                                <span class="sr-only" (contextmenu)="__elementSelectionService.select('1756008436',$event)" [ngStyle]="__elementSelectionService.getStyles('1756008436')">60% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                
                                <li (contextmenu)="__elementSelectionService.select('1343400935',$event)" [ngStyle]="__elementSelectionService.getStyles('1343400935')">
                                    
                                    <a href="#" (contextmenu)="__elementSelectionService.select('2141539928',$event)" [ngStyle]="__elementSelectionService.getStyles('2141539928')">
                                        <h3 (contextmenu)="__elementSelectionService.select('425294130',$event)" [ngStyle]="__elementSelectionService.getStyles('425294130')">
                                            Make beautiful transitions
                                            <small class="pull-right" (contextmenu)="__elementSelectionService.select('632324290',$event)" [ngStyle]="__elementSelectionService.getStyles('632324290')">80%</small>
                                        </h3>
                                        <div class="progress xs" (contextmenu)="__elementSelectionService.select('1622694400',$event)" [ngStyle]="__elementSelectionService.getStyles('1622694400')">
                                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" (contextmenu)="__elementSelectionService.select('901386177',$event)" [ngStyle]="__elementSelectionService.getStyles('901386177')">
                                                <span class="sr-only" (contextmenu)="__elementSelectionService.select('1744330925',$event)" [ngStyle]="__elementSelectionService.getStyles('1744330925')">80% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="footer" (contextmenu)="__elementSelectionService.select('1190087168',$event)" [ngStyle]="__elementSelectionService.getStyles('1190087168')">
                            <a href="#" (contextmenu)="__elementSelectionService.select('1680171143',$event)" [ngStyle]="__elementSelectionService.getStyles('1680171143')">View all tasks</a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown user user-menu" (contextmenu)="__elementSelectionService.select('25472965',$event)" [ngStyle]="__elementSelectionService.getStyles('25472965')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" (contextmenu)="__elementSelectionService.select('635263568',$event)" [ngStyle]="__elementSelectionService.getStyles('635263568')">
                        <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" (contextmenu)="__elementSelectionService.select('434027425',$event)" [ngStyle]="__elementSelectionService.getStyles('434027425')">
                        <span class="hidden-xs" (contextmenu)="__elementSelectionService.select('1454424389',$event)" [ngStyle]="__elementSelectionService.getStyles('1454424389')">Alexander Pierce</span>
                    </a>
                    <ul class="dropdown-menu" (contextmenu)="__elementSelectionService.select('1919858385',$event)" [ngStyle]="__elementSelectionService.getStyles('1919858385')">
                        
                        <li class="user-header" (contextmenu)="__elementSelectionService.select('1026452758',$event)" [ngStyle]="__elementSelectionService.getStyles('1026452758')">
                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" (contextmenu)="__elementSelectionService.select('1371658913',$event)" [ngStyle]="__elementSelectionService.getStyles('1371658913')">

                            <p (contextmenu)="__elementSelectionService.select('28021557',$event)" [ngStyle]="__elementSelectionService.getStyles('28021557')">
                                Alexander Pierce - Web Developer
                                <small (contextmenu)="__elementSelectionService.select('108295663',$event)" [ngStyle]="__elementSelectionService.getStyles('108295663')">Member since Nov. 2012</small>
                            </p>
                        </li>
                        
                        <li class="user-body" (contextmenu)="__elementSelectionService.select('1216147178',$event)" [ngStyle]="__elementSelectionService.getStyles('1216147178')">
                            <div class="row" (contextmenu)="__elementSelectionService.select('397877654',$event)" [ngStyle]="__elementSelectionService.getStyles('397877654')">
                                <div class="col-xs-4 text-center" (contextmenu)="__elementSelectionService.select('1255684718',$event)" [ngStyle]="__elementSelectionService.getStyles('1255684718')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1873212887',$event)" [ngStyle]="__elementSelectionService.getStyles('1873212887')">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center" (contextmenu)="__elementSelectionService.select('1073892727',$event)" [ngStyle]="__elementSelectionService.getStyles('1073892727')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1855422320',$event)" [ngStyle]="__elementSelectionService.getStyles('1855422320')">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center" (contextmenu)="__elementSelectionService.select('1704403846',$event)" [ngStyle]="__elementSelectionService.getStyles('1704403846')">
                                    <a href="#" (contextmenu)="__elementSelectionService.select('1036483246',$event)" [ngStyle]="__elementSelectionService.getStyles('1036483246')">Friends</a>
                                </div>
                            </div>
                            
                        </li>
                        
                        <li class="user-footer" (contextmenu)="__elementSelectionService.select('1870459284',$event)" [ngStyle]="__elementSelectionService.getStyles('1870459284')">
                            <div class="pull-left" (contextmenu)="__elementSelectionService.select('977629172',$event)" [ngStyle]="__elementSelectionService.getStyles('977629172')">
                                <a href="#" class="btn btn-default btn-flat" (contextmenu)="__elementSelectionService.select('1720905769',$event)" [ngStyle]="__elementSelectionService.getStyles('1720905769')">Profile</a>
                            </div>
                            <div class="pull-right" (contextmenu)="__elementSelectionService.select('1611064415',$event)" [ngStyle]="__elementSelectionService.getStyles('1611064415')">
                                <a href="#" class="btn btn-default btn-flat" (contextmenu)="__elementSelectionService.select('1753110938',$event)" [ngStyle]="__elementSelectionService.getStyles('1753110938')">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                
                <li (contextmenu)="__elementSelectionService.select('2035655086',$event)" [ngStyle]="__elementSelectionService.getStyles('2035655086')">
                    <a href="#" data-toggle="control-sidebar" (contextmenu)="__elementSelectionService.select('146212117',$event)" [ngStyle]="__elementSelectionService.getStyles('146212117')"><i class="fa fa-gears" (contextmenu)="__elementSelectionService.select('1598303296',$event)" [ngStyle]="__elementSelectionService.getStyles('1598303296')"></i></a>
                </li>
            </ul>
        </div>

    </nav>
</header>cd ..